<?xml version="1.0"?>
<config>
    <modules>
        <VINDESIGN_Updatepdp>
            <version>0.1.0</version>
        </VINDESIGN_Updatepdp>
    </modules>
    <frontend>
        <routers>
            <updatepdp>
                <use>standard</use>
                <args>
                    <module>VINDESIGN_Updatepdp</module>
                    <frontName>updatepdp</frontName>
                </args>
            </updatepdp>
        </routers>
        <layout>
            <updates>
                <updatepdp>
                    <file>updatepdp.xml</file>
                </updatepdp>
            </updates>
        </layout>
        <events>
			<catalog_controller_product_init>
				<observers>
					<VINDESIGN_Updatepdp_Helper_Productinitbefore>
						<type>singleton</type>
						<class>VINDESIGN_Updatepdp_Helper_Productinitbefore</class>
						<method>Updatefromdrupal</method>
					</VINDESIGN_Updatepdp_Helper_Productinitbefore>
				</observers>
			</catalog_controller_product_init>
		</events>
    </frontend>
    <admin>
        <routers>
			<updatepdp>
				<use>admin</use>
				<args>
					<module>VINDESIGN_Updatepdp</module>
					<frontName>updatepdp</frontName>
				</args>
			</updatepdp>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<VINDESIGN_Updatepdp>
							<title>Updatepdp Module</title>
							<sort_order>10</sort_order>
						</VINDESIGN_Updatepdp>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<updatepdp>
					<file>updatepdp.xml</file>
				</updatepdp>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <updatepdp>
                <class>VINDESIGN_Updatepdp_Model</class>
                <resourceModel>updatepdp_mysql4</resourceModel>
            </updatepdp>
            <updatepdp_mysql4>
                <class>VINDESIGN_Updatepdp_Model_Mysql4</class>
                <entities>
                    <updatepdp>
                        <table>updatepdp</table>
                    </updatepdp>
                </entities>
            </updatepdp_mysql4>
        </models>
        <resources>
            <updatepdp_setup>
                <setup>
                    <module>VINDESIGN_Updatepdp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </updatepdp_setup>
            <updatepdp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </updatepdp_write>
            <updatepdp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </updatepdp_read>
        </resources>
        <blocks>
            <updatepdp>
                <class>VINDESIGN_Updatepdp_Block</class>
            </updatepdp>
        </blocks>
        <helpers>
            <updatepdp>
                <class>VINDESIGN_Updatepdp_Helper</class>
            </updatepdp>
        </helpers>
    </global>
</config>