<?xml version="1.0"?>
<config>
    <modules>
        <Mercent_Adminhtml>
            <version>2.7.0</version>
        </Mercent_Adminhtml>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Mercent_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mercent_Adminhtml before="Mage_Adminhtml">Mercent_Adminhtml</Mercent_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
