<?xml version="1.0" ?>
<config>
    <default>
        <pixal>
            <audience>
                <enable>0</enable>
                <code>000</code>
            </audience>
            <tracking>
                <enable>0</enable>
                <code>000</code>
                <currency>USD</currency>
            </tracking>
        </pixal>
    </default>
    <modules>
        <Jaljale_Pixel>
            <version>0.1.0</version>
        </Jaljale_Pixel>
    </modules>
    <frontend>
        <routers>
            <pixel>
                <use>standard</use>
                <args>
                    <module>Jaljale_Pixel</module>
                    <frontName>pixel</frontName>
                </args>
            </pixel>
        </routers>
        <layout>
            <updates>
                <pixel>
                    <file>pixel.xml</file>
                </pixel>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <pixel>
                <class>Jaljale_Pixel_Helper</class>
            </pixel>
        </helpers>
        <blocks>
            <pixel>
                <class>Jaljale_Pixel_Block</class>
            </pixel>
        </blocks>
    </global>
</config>
