<?xml version="1.0"?>
<config>
	<modules>
		<DWELL_Catalog>
			<version>1.0.1</version>
		</DWELL_Catalog>
	</modules>
	<global>
		<helpers>
			<registry>
				<class>DWELL_Catalog_Helper</class>
			</registry>
		</helpers>
		<models>
			<catalog>
				<rewrite>
					<product_url>DWELL_Catalog_Model_Product_Url</product_url>
					<product_type_configurable>DWELL_Catalog_Model_Product_Type_Configurable</product_type_configurable>
				</rewrite>
			</catalog>
		</models>
	</global>
	<frontend>
		<routers>
			<catalog>
				<use>standard</use>
				<args>
					<modules>
						<DWELL_Catalog before="Mage_Catalog">DWELL_Catalog</DWELL_Catalog>
						<frontName>catalog</frontName>
					</modules>
				</args>
			</catalog>
		</routers>
	</frontend>
	<adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dwell>
                                            <title>Registry</title>
                                        </dwell>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
