<?xml version="1.0"?>
<config>
    <modules>
        <Duoplane_Dpx>
            <version>1.0.0</version>
        </Duoplane_Dpx>
    </modules>
    <global>
		<!--
        <blocks>
            <duoplane_dpx>
                <class>Duoplane_Dpx_Block</class>
            </duoplane_dpx>
            <duoplane_dpx_adminhtml>
                <class>Duoplane_Dpx_Block_Adminhtml</class>
            </duoplane_dpx_adminhtml>
        </blocks>
		-->
        <models>
            <duoplane_dpx>
                <class>Duoplane_Dpx_Model</class>
            </duoplane_dpx>
        </models>
		<!--
        <helpers>
            <duoplane_dpx>
                <class>Duoplane_Dpx_Helper</class>
            </duoplane_dpx>
        </helpers>
		-->
        <!--
        <resources>
            <duoplane_dpx_setup>
                <setup>
                    <module>Duoplane_Dpx</module>
                </setup>
            </duoplane_dpx_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <duoplane_dpx>
                        <class>duoplane_dpx/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </duoplane_dpx>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <duoplane_dpx>
               <use>standard</use>
               <args>
                   <module>Duoplane_Dpx</module>
                   <frontName>mgt</frontName>
               </args>
           </duoplane_dpx>
        </routers>
        -->
		<!--
        <layout>
            <updates>
                <duoplane_dpx>
                    <file>duoplane_dpx.xml</file>
                </duoplane_dpx>
            </updates>
        </layout>
		-->
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Duoplane_Dpx before="Mage_Adminhtml">Duoplane_Dpx_Adminhtml</Duoplane_Dpx>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <duoplane_dpx_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>duoplane_dpx/observer::methodName</model>
                </run>
            </duoplane_dpx_cron>
        </jobs> 
    </crontab>
    -->
</config>
